#addTr{
    visibility: hidden;
}

.totalPedido {
    visibility: hidden;
}

.selects {
    display: none;
}

.colunaInativa {
    display: none;
}

.disponiveis {
    border: transparent;
    box-shadow: none;
}